[2021-03-29 11:11] lorcalhost opened #1 "telegram.error.BadRequest: Message is too long"
When sending last 20 lines of log file eroor `telegram.error.BadRequest: Message is too long` sometimes occurs.

This seems due to the fact that Telegram's api only supports 4096 bytes per message.

Find a way to avoid this error and still display something useful.

[2021-03-29 11:17] lorcalhost opened #2 "Delete current_coin_history table from the db"
As user **@ienthach** suggested on Discord, add the ability to only delete the `current_coin_history` table from the db.

[2021-03-29 11:19] lorcalhost opened #3 "Add option to run bot with screen/Docker"
As user @Brackyt suggested on Discord, add option to run the bot using `screen`/`Docker` instead of directly running with `python`/`nohup`

[2021-03-29 11:22] lorcalhost opened #4 "Implement profits / current ratios fetching feature"
This could be done using Binance Trade Bot's api (which requires it to be running) or by directly interacting with the database.

[2021-03-29 11:38] #1 closed

[2021-03-29 18:50] phoenix-blue opened #5 "Windows compatibility"
Hello,

Follow the instructions and run the script, first part is working (connection with Telegram).
But when there must be a interaction with the binance trader bot I get a permission error.

`2021-03-29 20:48:29,614 - telegram.ext.dispatcher - ERROR - No error handlers are registered, logging exception.
Traceback (most recent call last):
  File "C:\Python\lib\site-packages\psutil\_pswindows.py"

[2021-03-29 20:14] lorcalhost commented on #5
I have not thoroughly tested the program on Windows.
You might try executing the bot in a Python `virtualenv`  as that gives full permissions for all files inside of it.

[2021-03-29 21:16] phoenix-blue commented on #5
virtualenv gives me a error, but the WSL solution did the trick.
didn't even know about it, thank you very much!

[2021-03-29 21:39] lorcalhost commented on #5
No problem, enjoy the bot!
I will do a bit more testing on Windows but as of now I will advise using WSL on the `README.md` file.

[2021-03-29 21:43] #5 closed

[2021-03-30 09:39] NovusEdge commented on #3
I would like to take this one up if no one's assigned.

[2021-03-30 13:44] NovusEdge commented on #3
@lorcalhost I would like to ask about how you want the bot to run with Docker
Please do specify the details.
Also, are there any rules to adhere to for the code?

[2021-03-30 13:52] lorcalhost commented on #3
@NovusEdge You are free to do what you wish code-wise.
This improvement was suggested by a Discord server member and I do not have much experience with Docker nor screen.
</br>

Building a Docker image for the bot could help solve the issue mentioned in #5 where if the bot is run on Windows the permissions are incorrect for performing some operations.
</br>

Are inter-docker-image permitted?
If no

[2021-03-31 10:03] lorcalhost commented on #4
Closed in 6cb66396d328b3d188b816635175df90cde92299

[2021-03-31 10:03] #4 closed

[2021-03-31 13:50] lorcalhost opened #6 "Small value coins throw errors when using `Current stats` function"
This is due to their value being very small compared to BTC, resulting in the `btc_price` attribute in the `coin_value` table being saved as `NULL` and read by the `sqlite3` module as `None`.

[2021-03-31 16:32] lorcalhost opened #9 "Dockerfile may break if the script is run from a directory other than the project-directory"
This may break if the script is run from a directory other than the project-directory.

A solution to this may be using `os` and `pathlib` to change the path to the project-directory.

_Originally posted by @NovusEdge in https://github.com/lorcalhost/BTB-manager-telegram/pull/7#discussion_r605022377_

[2021-03-31 17:03] NovusEdge commented on #9
May I take this issue up?

[2021-03-31 17:06] lorcalhost commented on #9
Of course @NovusEdge , you are the Docker expert here 😄

[2021-03-31 17:07] NovusEdge commented on #9
I would rather not call myself a docker `expert` 😅 ,  but sure

[2021-03-31 20:18] Allyans3 opened #10 "Request to delete the database"
Can you add before deleting database: "Do you want to delete the database?" ?

[2021-04-01 12:56] lorcalhost commented on #10
Closed in fda6ead0da8e64d61a14960eae7c4eb3db060c49

[2021-04-01 12:56] #10 closed

[2021-04-01 16:46] lorcalhost opened #12 "Cleanup `__btn_current_ratio` and `__btn_current_value` methods"
Separating `current value` and `current ratio` is a good idea as well as separating all those buttons in two pages.

The only changes to your PR I would suggest are:
- Change `Current ratio` to `Current ratios`
- When one of the buttons in the `Configurations` sub-menu is pressed, stay in the `Configurations` sub-menu after button action completition instead of going back to the main sub-menu
- So

[2021-04-01 19:12] #12 closed

[2021-04-02 15:04] lorcalhost opened #13 "Prepare the bot for BTB websocket version release"
This PR will soon be merged into the main branch.
Compatibility issues should be investigated and fixed.
https://github.com/edeng23/binance-trade-bot/pull/211

[2021-04-02 22:08] lorcalhost opened #14 "New installation method that doesn't require users to copy `BTBManagerTelegram.py` file to `binance-trade-bot`'s directory"
Manually updating and copying the `BTBManagerTelegram.py` every time there is an update is becoming an issue.
Find a solution that makes the installation more stress-free

[2021-04-02 22:46] bloodf commented on #13
I'm using with this PR and it's all fine till now

[2021-04-02 22:49] bloodf opened #15 "Add the coin buying price on the Current value 💵"
I think it's a good idea to have the price of the buying order on the current value command, so you could check how well the coin is doing and take any decisions, and don't need to write down each order, or save the bot chat history.

[2021-04-02 22:50] bloodf commented on #15
I would add the current coin value also.

[2021-04-02 22:53] bloodf opened #16 "Add a order history command"
I think it's great to have a order history command, with the response.

Coin from, coin to
Coin value bought
Coin amount bought
Date of order placement
Order is done
Type of order

[2021-04-03 06:44] lorcalhost commented on #16
Sounds good!
As I see you are experienced with UX and have helped me before, what would you purpose the new button layout be?

[2021-04-03 18:19] lorcalhost opened #17 "Add ability to update `binance-trade-bot` and `BTBManagerTelegram` from the bot"
This can be achieved by:
- Checking if the local repo is up to date with remote main branch
- In case it's not:
** Kill the process
** `git pull`
** `$(which python3) -m pip install -r requirements.txt`
** Run program again

[2021-04-03 19:27] lorcalhost commented on #14
Closed in b0531efdf4a11e52cb5c58707e8db57d7df92e81

[2021-04-03 19:27] #14 closed

[2021-04-03 22:21] lorcalhost commented on #17
Closed in 35ded495fd37e2d5728666a4131203a50e86d610

[2021-04-03 22:21] #17 closed

[2021-04-04 08:42] #16 closed

[2021-04-04 08:54] #15 closed

[2021-04-04 09:03] lorcalhost opened #19 "Separate script into multiple files"
Now that `BTB-manager-telegram` transitioned from being a one-file utility to a project on its own, good coding practices should be followed.
Split the (*almost 1000 lines*) file into separate classes.

[2021-04-04 09:08] lorcalhost opened #20 "Add support for multiple languages"
When I started the `BTB-manager-telegram` project my goal was to give easy access to autmated trading to people who are not familiar with terminals and such.
I had chats with many of this project's users and many of them don't seem to be native english speakers.
I believe adding mulitple language support will be another step into the right direction and will provide even easier access to automated

[2021-04-04 11:19] DmytroLitvinov opened #21 "Pin dependencies and integrate DependaBot"
Better to pin dependencies in `requirements.txt` file and add DependaBot for updating it.

[2021-04-04 12:42] lorcalhost commented on #21
Hi, thanks for opening the issue.
I have never done anything similar but will look into it!

[2021-04-04 13:27] lorcalhost commented on #21
@DmytroLitvinov I believe I have correctly set up dependabot, would you mind taking a look?

[2021-04-04 13:47] DmytroLitvinov commented on #21
@lorcalhost ,
everything works smoothly: https://github.com/lorcalhost/BTB-manager-telegram/pull/22

[2021-04-04 13:47] #21 closed

[2021-04-04 14:05] DmytroLitvinov commented on #19
@lorcalhost , I guess we can make the same way of architecture as `binance-trade-bot` has. We can run the library module as a script (python3 -m BTB-manager-telegram).

[2021-04-04 14:13] lorcalhost commented on #19
I'm afraid transitioning from script to module will break the current bot's version `Update Telegram Bot` feature which currently calls
[code]

We could of course think of a temporary workaround, according to daily clone stats `BTB-manager-telegram` currently has `50` cloners of which `5` cloned today so I suppose not too many people are on the latest version.
</br>
When it comes to multiple class

[2021-04-04 14:24] DmytroLitvinov commented on #19
And what exactly it will break? Everything should work or am I missing something after breaking it into the module?

[2021-04-04 14:31] lorcalhost commented on #19
`BTB-manager-telegram` currently has an `Update Telegram Bot` feature, when this feature is called the following commands are executed:
[code]

</br>

If a user using `BTB-manager-telegram` current version were to use this `Update Telegram Bot` feature, `BTB-manager-telegram` would not be automatically restarted, as the new way of launching the bot would be
[code]

[2021-04-04 16:56] lorcalhost opened #23 "When Binance Trade Bot is running use it's database api instead of operating on the database file"
The mysqlalchemy session implementation used in Binance Trade Bot only updates the database file every now and then and at the end of the session.
To fetch good data switch to their database API.

Thanks @DmytroLitvinov for finding the cause of the slow data update problem.

[2021-04-04 19:10] lorcalhost commented on #23
The api server should be launcehd using the following command:
[code]

Dependencies: `python3-gunicorn==20.0.4-3`

[2021-04-04 19:26] lorcalhost commented on #23
Endpoints are:
- `/api/value_history/<coin>` or `/api/value_history`
- `/api/total_value_history`
- `/api/trade_history`
- `/api/scouting_history`
- `/api/current_coin`
- `/api/current_coin_history`
- `/api/coins`
- `/api/pairs`

[2021-04-05 11:08] DmytroLitvinov commented on #23
@lorcalhost , what is the `python3-gunicorn` library? It should be `gunicorn` just.
https://pypi.org/project/gunicorn/

[2021-04-05 11:14] DmytroLitvinov opened #25 "Python Code Quality"
Integrate `black` and `isort` as minimum.
Also, we can add `flake8` with plugins.

[2021-04-05 11:37] lorcalhost commented on #25
@DmytroLitvinov
It's the first time I hear about those 3 modules, thanks again for teaching me good practices.
If I understand correctly what you mean by _integrating_ `black` and `isort` is running the following commands on the `BTBManagerTelegram.py` file, correct?

[code]

[2021-04-05 12:11] DmytroLitvinov commented on #25
@lorcalhost , it is just for keeping our codebase of the library in a clean state.
For using `isort` there is [another way](https://pycqa.github.io/isort/docs/quick_start/2.-cli/) in CLI

It is not required for that type of project I guess, but it is nice to have a feature :)
And in the future we can provide it in CI for checking that contributors follow coding guidelines.

[2021-04-05 12:18] lorcalhost commented on #25
@DmytroLitvinov
That seems very useful.
I also have no experience with CI, would you be able to help me out in implementing this small `black` and `isort` format checking feature?

[2021-04-05 12:39] DmytroLitvinov commented on #25
@lorcalhost , sure.
But can't guarantee that I will do it in near feature.
Maybe tomorrow I will start work on that.

[2021-04-05 12:57] lorcalhost commented on #25
@DmytroLitvinov
Thank you, I will also start attempting on my own, you will find my progress in the [ci_contributions branch](/lorcalhost/BTB-manager-telegram/tree/ci_contributions)

[2021-04-05 13:31] lorcalhost commented on #25
@DmytroLitvinov I believe I have succesfully managed to implement the workflow.
Plase check if everything is correct and tell me if you have any improvement suggestions when you are free. :)

[2021-04-05 21:07] lorcalhost opened #29 "Send message if new `BTB-manager-telegram` or `Binance Trade Bot` update is available"
Check every N hours if a new update is available via the command
[code]
If an update is available, send a message to the chat to notify the user.

[2021-04-06 09:35] #29 closed

[2021-04-06 18:07] #19 closed

[2021-04-06 18:26] #25 closed

[2021-04-06 22:05] lorcalhost opened #32 "Add ability to plot graphs / complement current functions with graphs"
Data visualization matters when talking about money.
Adding the ability to have different plots on demand will take the bot to the next level.
</br>
Please comment below what kind of graphs you believe would be best to implement.

[2021-04-06 22:09] lorcalhost commented on #23
This issue was created in an attempt to fix sometimes getting outdated data from the database.
After a few days of testing on PR #24 I have to say the behavior has not changed.

Furthermore I believe this issue should not be implemented / does not have high priority.

[2021-04-07 07:05] lorcalhost commented on #13
There are reports of PR edeng23/binance-trade-bot#211 breaking the _Coin ratios_ feature.

[2021-04-07 22:13] Popomain commented on #32
Current Value over the last 1/7/30 days or so would be nice.

[2021-04-07 22:43] Popomain commented on #32
Not really. If the Bot is on BTC today and USD Value of my BTC-Position is for example 10.000. Tomorrow the Bot might be on ETH and that Position might then have a value of 10.100$.
So basically the USD-Value of the current coin over time.

[2021-04-07 22:51] lorcalhost commented on #32
@Popomain I'm not sure I understand clearly.
</br>
Let's say the bot is right now on VET.
You want:
1. The value in USD of all trades of VET to be plotted over time
2. The Exchange rate of VET to be plotted over time
</br>

If I'm understanding correctly it's the first that you're asking as for the second plot you could just open the Binance app.

[2021-04-08 01:46] quantum8 opened #33 "Add "Quick sell" button"
Not sure if this fully belongs here or not, but if the market suddenly tanks it could be nice to have some sort of "panic button" that sells the current coin (with option of either at a limit you choose or market sell, risky though) and stops the bot.

You can then restart the bot later when the market stabilises.

[2021-04-08 07:52] lehoaian opened #34 "please add "fresh start" features"
Thank for great effort ! Could you please add "fresh start" features ?
Its mean clean/delete all database, cancel all wating orders. its will help.

[2021-04-08 15:24] hippalectryon-0 opened #35 "Add support for multiple coins strategy"
Right now the bot is tailored towards the default, one-coin strategy.

[2021-04-08 18:07] DmytroLitvinov opened #36 "Add handling for empty content of apprise.yml file"
[code]

[2021-04-08 18:24] #36 closed

[2021-04-08 18:36] lorcalhost commented on #35
Hi @hippalectryon-0 ,
would you mind sharing the list of incompatibilities you have found when using the multiple coins strategy?
It would really help me pinpoint the issues and fix them quicker :)

[2021-04-08 19:02] hippalectryon-0 commented on #35
@lorcalhost  Sorry for not elaborating. After thinking over it a bit and talking in the BBot discord, it seems that the multiple coin strategy is still a bit in its infancy and may change in further updates, so it might not be worth it to implement it right away for the telegram bot.

Nevertheless, the main issue is that unlike the default strategy, the multiple coin strategy does not have a "curr

[2021-04-08 19:13] lorcalhost commented on #35
@hippalectryon-0 Thanks for elaborating,
so the incompatibility is only in the "Current value" feature so far?
</br>
I looked into the multiple coin strategy myself and couldn't really understand the behavior as it still is trading only one coin at a time.
I will try to understand it a bit better but as you said it still being in its infancy means it could change at any time.
</br>
Right now I'm a

[2021-04-08 20:02] hippalectryon-0 opened #37 "Current Ratios not working"
Clicking on "current ratios" outputs " Something went wrong, unable to generate ratios at this time."

![image](https://user-images.githubusercontent.com/6502864/114088994-edbcad80-98b5-11eb-916a-2e717bb3cd3b.png)

It never worked so far for me so I'm not sure how to replicate it. Please ask me for specific logs if you think it will help pinpoint the cause.

[2021-04-08 20:05] hippalectryon-0 opened #38 "Wrong ratios on past transactions"
Potentially linked to #35

On "Current Value", wrong ratios are displayed for the previously bough ratios.

![image](https://user-images.githubusercontent.com/6502864/114089246-32484900-98b6-11eb-863f-5cc99cf51518.png)

As we can see, the bot thinks doge was at 0.03, but the value hasn't changed much from 0.06 lately (the bot only ran for a few hours). This may be due to me buying coins, stopping

[2021-04-08 20:51] lorcalhost commented on #37
Would you mind sharing your database file?
The bot has a built-in feature for database file export.
The database does not contains personal tokens or information but only your trade history as possibly "private data".
</br>

If you are willing to share the file please send it to `超人力霸王#3802` on Discord.

[2021-04-09 07:58] lorcalhost commented on #37
As discussed on Discord this seems to be due to the `scout_history` table always being empty when logging in _Binance Trade Bot_ is explicitly disabled.

[2021-04-09 08:16] lorcalhost commented on #38
The exchange ratio when purchased is calculated as `(buy_price / balance)` where `balance` is the current one.
This issue can be quickly fixed by querying `alt_trade_amount` from the `trade_history` table and calculating the ratio as calculating it as `(buy_price / alt_trade_amount)`.

[2021-04-09 13:50] #37 closed

[2021-04-09 13:50] #38 closed

[2021-04-10 12:11] #3 closed

[2021-04-10 12:11] #9 closed

[2021-04-11 16:29] DmytroLitvinov opened #42 "Add support of multiple instance of bots"
Let's imagine that we have installed 2nd bot on the same VPS server.
So right now when we will try to stop bot from 2nd bot, it will stop also from 1st bot.
More details about impelemention of [finding and killing processes](https://github.com/lorcalhost/BTB-manager-telegram/blob/0cd9256fdc08bbefcd740b829b00c234fd03f1c0/btb_manager_telegram/utils.py#L79) which is used in [stop_bot function](https:

[2021-04-11 16:34] lorcalhost commented on #42
This seems like a big feature to implement.
By multiple bot instances support do you just mean killing only one of the two instances or add full ability to switch and control both from telegram?

If we just manage to distinguish the killing the user could create two telegram bots and manage them saparately that way.

[2021-04-11 16:50] DmytroLitvinov commented on #42
Each binance-trade-bot should have its own telegram bot.
So when I like in BinanceTradeBot1 it should kill first bot of binance-trade-bot and it should not touch process of 2nd bot.

So we should know that we are killing the process from a folder of `settings.ROOT_PATH` variable and not all processes of binance-trade-bot.

So for that case we are getting all of processes and check with `pwdx` [com

[2021-04-11 16:58] lorcalhost commented on #42
We should also be managing process killing before updates of not only `Binance Trade Bot` but also `BTB Manager Telegram`.

[2021-04-12 08:18] #42 closed

[2021-04-12 10:30] deancarloz opened #44 "Can't Find apprise.yml"
Hi,

Both my folders (bot and telegram bot) are in the same drectory:
![image](https://user-images.githubusercontent.com/21025022/114380645-35775980-9b82-11eb-858d-57c165c69705.png)
The teleram bot can't find de yml file inside the config directory:
![image](https://user-images.githubusercontent.com/21025022/114380748-53dd5500-9b82-11eb-80ef-449df71806ec.png)

I dont see why it cant find it since

[2021-04-12 10:38] lorcalhost commented on #44
This seems to be a bug affecting windows regarding how we currently handle path joining.
I will look into it and push a fix asap

[2021-04-12 10:45] DmytroLitvinov commented on #44
@lorcalhost , here is where the problem: https://github.com/lorcalhost/BTB-manager-telegram/blob/d69e7a9acdb0519b87da9f8a74f14dc484c088af/btb_manager_telegram/utils.py#L23
We were talking about that recently ;)

[2021-04-12 10:47] deancarloz commented on #44
Hi, I solve by indicating the full path to the bot when run it through:
python -m BTB-manager-telegram-main -p {full path}

[2021-04-12 10:47] lorcalhost commented on #44
@DmytroLitvinov Line `23` *should* theoretically be correct but I think you are right, using `os.path.join()` will ensure we have no trouble.

@deancarloz I just pushed an update to the repo, can you please test if you are still experiencing the same problem?

[2021-04-12 10:50] deancarloz commented on #44
@lorcalhost just tested, still unable.
![image](https://user-images.githubusercontent.com/21025022/114383263-470e3080-9b85-11eb-883e-c1f62de3aa05.png)

[2021-04-12 11:06] lorcalhost commented on #44
@deancarloz
I believe this actually seems related to how your cloning tool is naming directories.
- `binance-trade-bot-master` should actually be called `binance-trade-bot`
- `BTB-manager-telegram-main` should actually be called `BTB-manager-telegram`

What tool are you using to clone the two repositories?

[2021-04-12 11:09] deancarloz commented on #44
Ah ok,

I'm actualy just download in as zip and unziping it into the directory

[2021-04-12 11:11] #44 closed

[2021-04-12 21:06] DmytroLitvinov opened #45 "Improve constant for truncating text"
Right now it is not clear why do we have `4096` and not `5014` or another number.
We need to refactor that line https://github.com/lorcalhost/BTB-manager-telegram/blob/0c28f4d35bf2255f880861194766ffb058b882b0/btb_manager_telegram/utils.py#L64 with using `telegram.constants.MAX_MESSAGE_LENGTH` and of course rename function (something like `telegram_text_truncator`)

[2021-04-12 21:06] DmytroLitvinov opened #46 "Add logging for errors"
Right now when I click on "Current ratios" I receive an error.
When I am trying to checkout logs from `nohup.out` - there is no logging for the error.

So I manually added logging error and checked the error - I got: `list index out of range`. But this is another issue I guess related to  function `text_4096_cutter` https://github.com/lorcalhost/BTB-manager-telegram/blob/0c28f4d35bf2255f8808611947

[2021-04-12 22:20] lorcalhost commented on #45
I see that in #47 you found [a built-in constant](https://python-telegram-bot.readthedocs.io/en/stable/telegram.constants.html#telegram.constants.MAX_MESSAGE_LENGTH) that takes the value 4096.

[2021-04-12 22:21] #45 closed

[2021-04-12 22:23] lorcalhost commented on #46
Do you propose using `logger.error` and `logger.warning` to log errors and warnings or do you have other solutions in mind?

[2021-04-12 22:37] lorcalhost opened #48 "Write some lines about multiple bot instances support"
Update `README.md` file with some intstructions or comments.

[2021-04-12 23:27] Dan-Wood opened #49 "Update Binance API"
Since you've got a mechanism to update both this manager and the bot itself, perhaps we should be monitoring the Binance API package as well?

http://github.com/sammchardy/python-binance.git

`pip install --upgrade --no-deps --force-reinstall git+git://github.com/sammchardy/python-binance.git`

[2021-04-13 06:29] DmytroLitvinov commented on #49
This is not an issue of that package.
You need to go to binance-trade-bot and ask them to add the latest supported PyPi package into requirements.txt file.

[2021-04-13 08:00] lorcalhost commented on #49
@Dan-Wood
As Dmytro said, this is not a dependency for `BTB-manager-telegram`.
If _Binance Trade Bot_ ever changes `python-binance` version in their `requirements.txt` file `BTB-manager-telegram` will automatically upgrade to that version.

[2021-04-13 08:00] #49 closed

[2021-04-13 13:55] lorcalhost commented on #48
Closed in #50

[2021-04-13 13:55] #48 closed

[2021-04-13 16:39] DmytroLitvinov commented on #46
`logger.warning` and `logger.error` should be enough.

[2021-04-13 16:41] DmytroLitvinov opened #51 "Request of new features"
Hi @lorcalhost ,
That project started to grow and more and more users will ask to add features which only to them related.
I guess we should keep the balance of the requested features and needed functionality.

[2021-04-13 17:05] lorcalhost commented on #51
How do you propose we do so?
Custom labels with different levels of priority?

[2021-04-13 21:43] lorcalhost opened #52 "Ensure the current `BTB` path is passed to the bot after updating"
Change to
[code]

https://github.com/lorcalhost/BTB-manager-telegram/blob/7737634b092ebbf69b7d5044f100afe48d6347c4/btb_manager_telegram/handlers.py#L333

[2021-04-14 10:31] #52 closed

[2021-04-15 14:49] lorcalhost opened #53 "Update available notifications not working"
### Current behavior:
Update is only checked on bot startup

### Expected behavior:
- Bot checks every hour if update for BTB or BTBMT is available
- If available notify the user and remind every 12 hours

</br>

Might have to put a sleep timer before scheduling a new event, further inspection needed.

[2021-04-15 18:43] javiramos opened #54 "Error with configuration commands win WIN 10"
Hey mate!
Thanks for your AWESOME work with this bot! Is amazing!
I run the bot well, all is working except the all commands relating to files or processes.
I attach you the error code, im not just asking, i tried everything, trying to debug in stackoverflow....
I know is a permission problem, i tried running as administrator binance_bot and telegram_bot with the same errors.

I hope you can help

[2021-04-15 18:55] lorcalhost commented on #54
Hi! Thanks for your kind words.
Although it is an experimental feature you can [try running the bot via docker](https://github.com/lorcalhost/BTB-manager-telegram/blob/main/docs/docker-setup.md).

To do so run the command
[code]
to set up the environment and Docker image.

After the setup you can run the bot using the `--docker` flag:
[code]

Let me know if this helps :)

[2021-04-16 13:54] lorcalhost opened #55 "Don't restart BTB after update"

[2021-04-16 20:05] #53 closed

[2021-04-16 20:05] #55 closed

[2021-04-17 08:47] #54 closed

[2021-04-17 18:36] lorcalhost opened #56 "Always show precise number, no scientific notation"

[2021-04-18 15:14] pwnfoo opened #57 "Add a feature to purge trade bot logs"
TSIA

The logs can sometimes eat up a lot of space, so it'll be nice to have a way to purge logs.

Maybe this can be coupled with Delete Database? I don't know if there's a valid use case where you will want to purge db, but not the logs.

[2021-04-18 16:37] lorcalhost commented on #57
You are referring to `Binance Trade Bot's logs`, correct?

[2021-04-18 16:50] DmytroLitvinov commented on #57
Seems like so ;)

[2021-04-18 17:05] pwnfoo commented on #57
Correct, updated title :)

[2021-04-18 17:07] pwnfoo opened #58 "Allow multiple users to interact with the telegram bot"
It'll be great if the bot can respond to multiple people, in a group, etc.

[2021-04-18 17:40] lorcalhost commented on #58
I guess we could add a `-g` flag as launch option and then differentiate the filter here:
https://github.com/lorcalhost/BTB-manager-telegram/blob/ca3a6fe3fbea0d625137fc0cb2e05e03c21a94ee/btb_manager_telegram/handlers.py#L411-L413

[2021-04-18 18:40] #56 closed

[2021-04-18 19:13] #58 closed

[2021-04-18 19:16] lorcalhost commented on #58
It was easier than expected, I just had to change the filter type.

Went from:
[code]
to
[code]

[2021-04-19 02:46] pwnfoo commented on #58
@lorcalhost Perfect! I was testing this out and noticed that each user has to type `/start` in the group before they can interact with the bot.

Is this intended behaviour? If so, I created #59 adding info about this.

[2021-04-19 06:40] lorcalhost commented on #58
@pwnfoo this works as intended.
The bot is currently build using Telegram's `ConversationHandler` which behaves this way.

[2021-04-19 13:57] lorcalhost opened #60 "Use correlation matrix to automatically populate coin list"
Use [this project](https://github.com/madnesspie/binance-correlation-matrix) by user @madnesspie to automatically populate the `supported_coin_list` file with good coins.

[2021-04-19 14:46] lorcalhost opened #61 "`Start bot` not working when full path is passed as argument"
If a full path (e.g. `/root/bot/install/dir`) is passed as argument `-p` instead of a relative one (e.g. `../bot/install/dir`) `BTBMT` is unable to start `BTB`.

It might be due to this function:
https://github.com/lorcalhost/BTB-manager-telegram/blob/50932ec8a21169828985ff9db359b45b00aa1be9/btb_manager_telegram/utils.py#L75-L86

@DmytroLitvinov do you know more about this?

[2021-04-20 05:57] DmytroLitvinov commented on #61
@lorcalhost , from brief checking everything, should work as expected.

[2021-04-20 10:00] lorcalhost commented on #61
@DmytroLitvinov this bug was reported by a user on Discord.
When he entersthe full path the bot is unable to start BTB. 🤔

[2021-04-20 13:04] lorcalhost opened #62 "Display cumulative change with `Progress` button"
Something along the lines of:
[code]

Also, don't show change since last time for each coin but cumulative.

[2021-04-20 13:12] DmytroLitvinov commented on #62
We can add it in "Current value" button.

[2021-04-20 15:59] #46 closed

[2021-04-20 15:59] #57 closed

[2021-04-21 23:59] KINOTheProducer opened #63 "Clicking buttons in the 'Configurations' tab throw errors"
Hey there, thank you for the wonderful bot! Trying to understand where my issue lies here.

Every button (except 'Read last log lines') throws an error like this:

[code]

I can't decypher what it means myself, but maybe you can help.

Thank you so much in advance!

[2021-04-22 08:27] lorcalhost commented on #63
Hi @KINOTheProducer ,
as discussed in #54 `BTB-manager-telegram` currently has some problems with read/write/execute permissions on Windows.

Although it is an experimental feature you can [try running the bot via docker](https://github.com/lorcalhost/BTB-manager-telegram/blob/main/docs/docker-setup.md).

To do so run the command
[code]
to set up the environment and Docker image.

After the setup

[2021-04-22 16:52] KINOTheProducer commented on #63
Hi @lorcalhost - grazie mille per la risposta!

I'm trying to install the Docker image as you said, but have come across this error, even though these files exist in the binance-trade-bot filesystem already:

[code]

Is it fine to continue the setup, or should I fix something first?

[2021-04-22 17:01] lorcalhost commented on #63
Manually copy those 3 files into `BTB-manager-telegram/binance-trade-bot`.
Then run the `docker_setup.py` script again selection `n` as option when asked `Is a Binance Trade Bot installation already present on your filesystem (y/n)?`

[2021-04-22 17:34] KINOTheProducer commented on #63
Strange, I'm now getting this, even though those exact files have been copied into the directory you mentioned:

[code]

[2021-04-22 17:36] lorcalhost commented on #63
That's the intended behavior, you can proceed.

[2021-04-23 00:33] KINOTheProducer commented on #63
Upon proceeding, I get this:

[code]

[2021-04-23 07:19] lorcalhost commented on #63
There seem to be some problems with your installation.
Running on Windows is a bit buggy in general, if you can I strongly recommend running it through Linux or Windows [`WSL`](https://docs.microsoft.com/en-us/windows/wsl/install-win10)

[2021-04-23 13:25] #33 closed

[2021-04-23 13:55] lorcalhost commented on #61
I can confirm this is an issue.

[2021-04-26 21:59] d4kr opened #65 "telegram.ext.dispatcher - ERROR - No error handlers are registered, logging exception. Traceback (most recent call last)"
Hi, I just install the Telegram Bot on my Debian 10 VPS with Python 3.9.4 but I get this error:

[code]

I have also tried with Python 3.7 (which is the default in Debian 10) without chance. What I do wrong?
Thanks for any advice.
Dav

[2021-04-26 22:24] lorcalhost commented on #65
Hi @d4kr !
Did you install all dependencies  listed in the `requirements.txt` file? Make sure those modules are updated to the specified version.

This is the first time this problem has been reported but it seems like it has something to do with your `python-telegram-bot` dependency installation.

Could you also specify when you get this error? Can you provide some steps to replicate the issue?
G

[2021-04-26 22:25] #63 closed

[2021-04-26 23:41] anhntsi opened #66 "telegram.error.RetryAfter: Flood control exceeded"
Hi I have install the bot on my raspberry pi with python 3.7.3 but I get this error:
[code]

How do I fix it?

[2021-04-27 05:51] d4kr commented on #65
Hi @ lorcalhost

What I did was to create a `venv` for python 3.7 and one for python 3.9 (installed from source). Install the dependencies from `requirements.txt` (I checked them all and they are there) and run the BOT.

binance-trade-bot and BTB-manager-telegram are at the same level of my home. In binance-trade-bot I have configured `apprise.yml` and in fact I receive the messages of the transac

[2021-04-27 08:43] lorcalhost commented on #66
I will look into this.
For a quick fix you can manually update `binance-trade-bot` by running the `git pull` command inside the `binance-trade-bot` directory.

[2021-04-27 12:42] SH-Stark opened #67 "Can't parse entities: character '-' is reserved and must be escaped with the preceding '\'"
Hello, I tried to run the bot for the first time and got these errors

[code]

Have you ever seen this error ?
Cheers

[2021-04-27 12:45] lorcalhost commented on #67
Potentially related to #65

When are you getting this error?

[2021-04-27 12:46] DmytroLitvinov commented on #65
The problem with markdown which is tried to be sent.

More details: https://github.com/python-telegram-bot/python-telegram-bot/issues/131#issuecomment-167003086

Probably it is cut somewhere in the text.

[2021-04-27 12:47] SH-Stark commented on #67
Thanks for answering, I have it when I run:
➜  BTB-manager-telegram git:(main) python3 -m btb_manager_telegram

then on my bot I type /start

error then shows up

[2021-04-27 12:50] DmytroLitvinov commented on #67
At [that line of code](https://github.com/lorcalhost/BTB-manager-telegram/blob/main/btb_manager_telegram/handlers.py#L251) is issue. Some problem with text.

[2021-04-27 12:51] lorcalhost commented on #67
@DmytroLitvinov are you having this problem? I can't replicate on my installation.

[2021-04-27 12:54] lorcalhost commented on #67
@SH-Stark Could you please provide your telegram username? Does it contain any `-` or other special characters?

[2021-04-27 12:55] lorcalhost commented on #65
@d4kr Could you please provide your Telegram username? Does it contain any `-`s or other special characters?

[2021-04-27 12:58] DmytroLitvinov commented on #67
No, I don't have such issue.

[2021-04-27 13:02] SH-Stark commented on #67
My telegram username is @shstark :)

[2021-04-27 13:06] SH-Stark commented on #67
Problem fixed, my **First Name** had a "-", removing it seems to solve the issue.

[2021-04-27 13:07] lorcalhost commented on #67
@SH-Stark perfect, thanks for helping us pinpoint the issue.
I will push a fix shortly.

[2021-04-27 13:16] #65 closed

[2021-04-27 13:16] #67 closed

[2021-04-27 14:40] SH-Stark opened #69 "Error while getting Updates: Conflict: terminated by other getUpdates request; make sure that only one bot instance is running"
Hello, I had to restart the bot so I killed it and run it again, but now I'm having this error:

[code]

Do you have any idea how to kill the other instance ? Thanks

[2021-04-27 14:50] lorcalhost commented on #69
Follow the steps in [this troubleshooting guide](https://github.com/lorcalhost/BTB-manager-telegram/blob/main/docs/troubleshooting.md#2-error-make-sure-that-only-one-bot-instance-is-running).

[2021-04-27 14:50] #69 closed

[2021-04-27 14:51] SH-Stark commented on #69
Thanks!

[2021-04-27 15:10] d4kr commented on #65
right, my display name started with an underscore. Thx

[2021-04-27 19:11] Dgetsylver commented on #66
Unfortunately, it hasn't solved the problem for me.

[2021-04-28 06:35] jvzl commented on #66
Looks like the flood control is exceeded when the trading bot creates a new database. Too many messages at once.

[2021-04-29 13:29] lorcalhost opened #70 "Add custom scripts feature"
Users should be able to define their own bash scripts inside a chosen file.
The bot will give the possibility to select between them and execute the content.

The `custom_scripts.json` file could look like this:
[code]

[2021-04-30 20:23] #70 closed

[2021-05-03 20:45] lorcalhost opened #75 "Panic button not working as expected"

[2021-05-04 08:18] #61 closed

[2021-05-06 15:51] #66 closed

[2021-05-10 02:10] Nesonica opened #85 "File can't be found"
Hi awesome guys and thanks for this awesome bot!

When trying to run the bot with:
python -m btb_manager_telegram -t xxxxx -c xxxxx

It will tell me (on Pycharm):
[WInError 2] The system could not find the file.

![unknown](https://user-images.githubusercontent.com/12950714/117597235-72187f80-b145-11eb-933c-de3afbdb0a00.png)

When running it with:
(venv) C:\Users\Nesin\PycharmProjects\binance-trad

[2021-05-10 07:30] lorcalhost commented on #85
Try starting it as
[code]
or

[code]

Also keep in mind using `venv` might mess with accessing files in the other trading bot's repository.

[2021-05-10 07:45] pesado1 commented on #85
same here too

[2021-05-10 08:15] lorcalhost commented on #85
Can you try without using a `venv`?

[2021-05-10 09:24] Nesonica commented on #85
Same story here :-)

![image](https://user-images.githubusercontent.com/12950714/117637573-351eae00-b182-11eb-9484-886dd45ee992.png)

[2021-05-10 15:49] pesado1 commented on #85
no go for me

[2021-05-11 07:08] lorcalhost commented on #85
After debugging a bit with @Nesonica we figured out this may be related to pycharm.

Can you try to run the bot through another terminal?

[2021-05-11 08:03] Nesonica commented on #85
Hey man thanks for constantly working on it and helping out! So should I just remove the folder, make another clone and run with the settings we discussed yesterday?

[2021-05-11 08:13] Nesonica commented on #85
**Unfortunately the error remains**

C:\Users\Nesin\PycharmProjects\BTB-manager-telegram\BTB-manager-telegram>python -m btb_manager_telegram
2021-05-11 10:04:15,251 - btb_manager_telegram_logger - INFO - Retrieving Telegram token and chat_id from apprise.yml file.
2021-05-11 10:04:15,251 - btb_manager_telegram_logger - ERROR - Unable to find apprise.yml file at "../binance-trade-bot/config/apprise

[2021-05-11 08:27] lorcalhost commented on #85
You should run it inside `C:\Users\Nesin\PycharmProjects\BTB-manager-telegram` not `C:\Users\Nesin\PycharmProjects\BTB-manager-telegram\BTB-manager-telegram`

[2021-05-11 08:34] Nesonica commented on #85
Same error in this folder. 👍

[2021-05-11 11:36] lorcalhost commented on #85
I really am unable to pinpoint your issue, I spent some hours trying to figure it out but no luck so far.

If you really want to run the telegram bot you can still use it through WSL on windows or try the dockerized version although it's experimental.

[2021-05-12 16:10] DmytroLitvinov commented on #37
I have the same issue.
But the error inside the Python code somewhere:

[2021-05-12 16:19] DmytroLitvinov commented on #37
I just added `exc_info=True` to logger.error to see traceback of error and found the line on which that error happens:
2021-05-12 19:18:06,988 - btb_manager_telegram_logger - ERROR - ❌ Something went wrong, unable to generate ratios at this time: list index out of range
Traceback (most recent call last):
  File "/home/manager/binance-trade-bot/BTB-manager-telegram/btb_manager_telegram/buttons.py",

[2021-05-12 16:22] DmytroLitvinov opened #86 "Provide exc_info=True for output a stack trace alongside the error message"
Related to issue with ["Current ratios" button](https://github.com/lorcalhost/BTB-manager-telegram/issues/37#issuecomment-839907657).
It was hard to understand where exactly the problem so I propose to provide `exc_info=True` to all loggers we are using to report errors. It will in logs something [like that.](https://github.com/lorcalhost/BTB-manager-telegram/issues/37#issuecomment-839913583)

[2021-05-12 16:58] DmytroLitvinov opened #88 "Calculation of current ratios is hard coded"
Current calculation of [current ratios is hardcoded (0,001 * 5)](https://github.com/lorcalhost/BTB-manager-telegram/blob/main/btb_manager_telegram/buttons.py#L194) and it should be gotten from user.cfg file according to [the method of _get_ratios of binance-trade-bot](https://github.com/edeng23/binance-trade-bot/blob/0de5573059ca8058aa6ea9c7fcbe14b890290f31/binance_trade_bot/auto_trader.py#L107).

[2021-05-12 17:05] #86 closed

[2021-05-12 23:01] arby1108 commented on #85
I fixed editing line 21 in utils.py

![imagen](https://user-images.githubusercontent.com/42874555/118054503-618a2400-b354-11eb-803a-940a7534dc85.png)

[2021-05-12 23:10] pesado1 commented on #85
PermissionError: [Errno 13] Permission denied: '../binance-trade-bot/../'

[2021-05-12 23:10] pesado1 commented on #85
oh wait

[2021-05-13 12:13] Nesonica commented on #85
C:\Users\Nesin\PycharmProjects\BTB-manager-telegram>python -m btb_manager_telegram -t XXXXX -c XXXXX
2021-05-13 14:12:46,654 - btb_manager_telegram_logger - INFO - Checking for updates.
2021-05-13 14:12:46,657 - btb_manager_telegram_logger - ERROR - [WinError 2] Das System kann die angegebene Datei nicht finden
Traceback (most recent call last):
  File "C:\Users\Nesin\PycharmProjects\BTB-manager-t

[2021-05-13 12:24] arby1108 commented on #85
I have same error, but anyway  the bot is working.
that error mean the bot can't find updates only, but other functions are working properly

[2021-05-13 12:39] Nesonica commented on #85
Thanks for your update! So how can I test if it's working? I received no message from my bot yet.

[2021-05-13 12:41] arby1108 commented on #85
did you /start the bot?

[2021-05-13 12:45] Nesonica commented on #85
Yes I did. I get a welcome message and that's all :D

[2021-05-13 12:48] arby1108 commented on #85
so click on Begin button

[2021-05-13 12:48] Nesonica commented on #85
Where can I find that Begin Button? :)

[2021-05-13 12:51] arby1108 commented on #85
![imagen](https://user-images.githubusercontent.com/42874555/118128025-5ec91680-b3c8-11eb-833b-26c70f63747e.png)

[2021-05-13 13:10] Nesonica commented on #85
Ahaaaaa! Thanks so much man!

[2021-05-13 13:51] #85 closed

[2021-05-14 01:44] eudora-fabia opened #90 "Progress Btn - Unable to fetch progress information from database: type NoneType doesn't define __round__ method"
BTB-manager-telegram master branch e71dea6
btb - using this from this [PR](https://github.com/edeng23/binance-trade-bot/pull/328/commits/0477f97c4182c3d641ef3d43fbf8d44b7d1fff38)

Action1 : Click on progress button

[code]

Action 2: Click on Current value button

[code]

[2021-05-14 01:47] eudora-fabia commented on #88
@DmytroLitvinov  does this mean it could be displaying the wrong ratio if user.cfg is not in default?

[2021-05-14 06:36] DmytroLitvinov commented on #88
@eudora-fabia , yes.

[2021-05-15 07:49] eudora-fabia commented on #90
It works fine after I restarted from a fresh db.

[2021-05-16 05:52] #88 closed

[2021-05-16 08:46] #90 closed

[2021-05-16 13:26] lorcalhost commented on #60
An updated version of the project by user @kentwar can be found [here](https://github.com/kentwar/binance_correlation_script).

[2021-05-16 13:33] lorcalhost opened #94 "Send changelog message after update"
After updating `btb-manager-telegram` or `binance-trade-bot` the telegram bot should be able to send a detail changelog of the update.

This could be done by fetching the changes from the git commit messages / descriptions.

`git whatchanged ..origin` can be used after fetching.

[2021-05-16 14:08] lorcalhost commented on #60
To improve compatibility and execution times a coin list should be generated every X minutes/hours through a GitHub Action which updates a gist in json/txt format.

The client will then be able to fetch the gist and read the coin list from it.

[2021-05-16 14:48] kentwar commented on #60
I don't know much about gists, but calling the data requires an api key. It's possible to keep the script that makes the gist private but the gist is public?

[2021-05-16 15:04] lorcalhost commented on #60
@kentwar Yes that is absolutely possible using Github Actions [secrets](https://docs.github.com/en/actions/reference/encrypted-secrets).

If you are unfamiliar with this I can host it on the `BTB-manager-telegram` repository otherwise if you prefer I can help you setting it up on your repo.

[2021-05-16 19:00] kentwar commented on #60
I've got lots of work on this week, so you can host it if you like. I'll of course help out where I can.

[2021-05-16 20:25] adamwojt commented on #90
I am having same issue. I assume this is because there hasn't been any trades yet. Could that be right?
![image](https://user-images.githubusercontent.com/45100954/118411612-0a5eb900-b69e-11eb-8bfc-fbaddfc8948e.png)

[2021-05-16 20:29] lorcalhost commented on #90
That sounds about right, wait until the bot has made its first trade (therefore populating the database) and let me know if you still encounter this issue :)

[2021-05-18 06:06] roeekl opened #98 "Add amount to Progress button"
Right now the ‘Progress’ button will send all of the progress since the start of the bot (which can become large message after a few trades).
We should add the ability to send message with the number of coins we want to show so that we could control the output of this option.
For example:
‘📈 Progress 3’ will send the 3 last trades

[2021-05-23 11:27] plt-francesco opened #100 "apprise_example.yml missing from repo"
Hi, I'm trying to setup the telegram bot but I cannot find the apprise_example.yml file. I don't think it is in the repo at all:
[code]

[2021-05-23 11:39] eudora-fabia commented on #100
@plt-francesco You should have it in the binance-trade-bot repository. Which is assumed to be installed beside the BTB-manager-telegram directory.

[2021-05-23 11:41] plt-francesco commented on #100
Well that makes sense. Thanks

[2021-05-23 17:05] #100 closed

[2021-05-31 02:28] chchia opened #102 "Timezone"
Hi Thank you for the nice bot.

How can i set the time zone so that the bot can report all the trading according to my local timezone? i believe it is using UTC now.

[2021-05-31 03:43] chchia opened #103 "A possible error handling bug"
![image](https://user-images.githubusercontent.com/1291771/120136676-46992a00-c205-11eb-808b-05392c0d9917.png)

when i am a waiting buying order, and i click current ratio, it show error.

i think by right it should show "No coin holding currently, no ratio can be provided"

[2021-05-31 05:53] Lisiadito opened #104 "Stop Bot doesn't work when used with pm2"
PM2 obviously restarts the process when it is killed. I'm not sure if there is a elegant way for that and I don't know if it is inteded to support PM2?

[2021-06-02 10:21] tazboys opened #105 "Order fill notifications"
Is it possible to add auto message sending when an order is filled or hit stop-loss?

[2021-06-02 16:16] #105 closed

[2021-06-02 16:16] tazboys commented on #105
Not Applicable

[2021-06-02 16:19] lorcalhost commented on #105
@tazboys operations through the Binance API are handled by `binance-trade-bot` so far.

[2021-06-03 08:10] Teddy-Zhu opened #106 "Use `api/v3/ticker/price` instead of `api/v3/avgPrice` in `get_current_price()` function"
maybe we should use  `api/v3/ticker/price` for current price  ?

[2021-06-06 15:32] Lisiadito commented on #20
This could be a useful package to do it: https://pypi.org/project/python-i18n/
What do you think about this? I might be interested to do this change.

[2021-06-06 15:52] lorcalhost commented on #20
Hi @Lisiadito , I believe `i18n` is now the standard for localization.
If you'd like to work on this issue I can assign it to you.
Sadly in this period I don't have much time to improve `BTB-manager-telegram` myself.

[2021-06-06 15:54] Lisiadito commented on #20
I usually work with NodeJs but there we use a i18n package as well so I believe this should not to difficult. I could also add the german translation.

[2021-06-06 15:58] lorcalhost commented on #20
Perfect! Thanks for considering contributing to the project.
I will assign you this issue right away.

[2021-06-06 19:06] Lisiadito commented on #20
Ok I managed to get i18n running. Do you mainly want the UI and the messages translated or the logging as well? I think for now leaving the logging in english is fine or?

[2021-06-06 19:31] lorcalhost commented on #20
Yes I believe logging in English is fine.

[2021-06-07 13:25] iluz0r opened #109 "Current value error"
[code]
I guess this happens because, even if the tuple `query_7_day is not None`, it contains a None value.
I fixed changing line 108 of buttons.py to:

`if query_7_day is not None and all(elem is not None for elem in query_7_day) and btc_price != 0:`

[2021-06-07 14:55] DmytroLitvinov commented on #109
We have reverted back as it was, @iluz0r.
So please upgrade you BTB manager telegram instance.
For now we close that issue.

[2021-06-07 14:55] #109 closed

[2021-06-07 23:19] defidummy opened #112 "Bot is not running? BTB-manager-telegram folder and binance-trade-bot folder in the same directory"
My bot is not running. Is this considered same directory?
I have both BTB-Manager_telegram folder and binance-trade-bot-master folder in downloads folder?
<img width="738" alt="Screen Shot 2021-06-07 at 4 17 03 PM" src="https://user-images.githubusercontent.com/82065755/121099019-eded0280-c7ab-11eb-8e5e-1b6dc78632b9.png">

[2021-06-08 01:35] Teddy-Zhu commented on #112
bot folder's name is wrong , it's should be 'binance-trade-bot'

[2021-06-08 03:29] #112 closed

[2021-06-08 10:08] titulebolide opened #113 "Add support for venv"
Hi there!

It would be eventually nice to add an option at the manager's startup to specify binance-trade-bot's virtualenv if it is unsing one. Because it is using the base python3. But i like to keep my dependencies under a venv to avoid pip conflicts between different projects...

Otherwise the manager and the binance trade bot could be sharing the same venv. If the manager detects it is being r

[2021-06-08 10:15] titulebolide commented on #113
It cloud be changed this way (https://github.com/lorcalhost/BTB-manager-telegram/blob/2dd8a8c32352e6cb15eb76d727c319adcfeb12a7/btb_manager_telegram/buttons.py#L311)
[code]

[2021-06-08 11:24] lorcalhost commented on #113
That's a neat proposal, thanks for sharing.
This will definitely go on the to do list.

[2021-06-08 11:27] titulebolide commented on #113
I'll eventually make a PR when I'll have time with the according documentation.

What seems preferable? A shared venv or to specify btb'v venv though the cli?
Le 8 juin 2021 à 13:24 +0200, Lorenzo Callegari 乐子睿 ***@***.***>, a écrit :

[2021-06-09 04:50] DmytroLitvinov opened #114 "Extend documentation for Custom scripts setup"
There are a lot of questions about custom scripts at discord like:
* what is the base dir from where scripts are taken
* how to add execution permission on script
* etc

Also, I recommend adding [that script](https://discord.com/channels/811277527997087745/818862057704390700/851190591454314539) as an example of executable script in example.json file.

[2021-06-09 05:39] andrijvirt commented on #114
By default, all scripts that are executed from the BTB-manager-telegram's directory.

[code]

Create a folder where all your custom scripts will be stored and move to it:

[code]

Create the script, for example you may use the [example](https://discord.com/channels/811277527997087745/818862057704390700/851190591454314539) from our discord. Make it executable:

[code]

In our example, we are using

[2021-06-09 07:37] lorcalhost opened #115 "Two scripts required in the `custom_scripts.json` file"
Problem caused by this line: https://github.com/lorcalhost/BTB-manager-telegram/blob/2dd8a8c32352e6cb15eb76d727c319adcfeb12a7/btb_manager_telegram/utils.py#L237

[2021-06-09 07:38] #115 closed

[2021-06-09 08:26] titulebolide commented on #113
Closing this issue as I opened the PR #116

[2021-06-09 08:26] #113 closed

[2021-06-09 09:17] titulebolide opened #117 "TG bot update forgets parameters on restart"
See
https://github.com/lorcalhost/BTB-manager-telegram/blob/0f6049fb2b77f97c039b53c11108835ccfe19eae/btb_manager_telegram/handlers.py#L404
It don't pass all the parameters passed by the user at first launch, such as TG ids or --docker

[2021-06-09 09:39] titulebolide commented on #117
Fixed in #116

[2021-06-09 09:39] #117 closed

[2021-06-10 08:36] Lisiadito opened #118 "Available update spams"
When an update is available and the bot spams every 5-10 seconds the message and no other button reacts on input.
I run the bot with pm2.

![image](https://user-images.githubusercontent.com/13214912/121493090-c2e6f680-c9d7-11eb-8e1c-b2e76b2e2159.png)

[2021-06-10 08:43] lorcalhost commented on #118
This behavior is quite unexpected, as you can see here the message should only be sent every 12 hours:
https://github.com/lorcalhost/BTB-manager-telegram/blob/0f6049fb2b77f97c039b53c11108835ccfe19eae/btb_manager_telegram/utils.py#L150-L205

I'll look more into it but I suspect it's some kind of incompatibility with pm2

[2021-06-13 11:34] bamooxa opened #119 "Ratios not displaying correctly"
Line 216 of buttons.py, this formula is used to calculate for telegram:
_( current_coin_price / other_coin_price ) - 0.001 * '{scout_multiplier}' * ( current_coin_price / other_coin_price ) ) - sh.target_ratio )_
The 0.001 should be atleast gathered from the variable the binance_trade_bot uses. If that isn't possible, it should be 0.002.

Line 131 of Edeng's binance trade bot uses:
_coin_opt_coin_

[2021-06-13 21:51] lorcalhost commented on #119
Thanks for pointing it out, we are aware of problems in the calculation method and will push a fix as soon as we have some time!

[2021-06-13 22:16] lorcalhost commented on #102
The date in messages is read from the database.
The one reported in the terminal comes from the machine's local timezone.

A feature could be implemented to automatically change the timezone to the one of the machine which is hosting the bot.

[2021-06-13 22:20] lorcalhost commented on #13
No further problems have been reported after the websockets merge into the main branch, closing the issue.

[2021-06-13 22:20] #13 closed

[2021-06-16 07:26] titulebolide commented on #118
I've experienced the same and it looks like BTB is crashing and restarting over and over

[2021-06-16 08:03] Lisiadito commented on #118
@titulebolide No I'm using pm2 which also does a auto restart on crash. In the end I also updated manually.

[2021-06-17 22:12] lorcalhost opened #122 "Better Custom Scripts"
Add ability to:
- [ ] Create scripts that forward media (any kind of file)
- [ ] Create scripts that send pictures (with preview)

This can be achieved by adding some flag fields in the `config/custom_scripts.json` file.

[2021-07-15 05:10] chchia commented on #37
i am too having current ratio not working problem.

i checked the db, the scout_history tables is having 1million ++ of record but all value is completely empty.

can someone guide me how to resolve?

[2021-07-15 05:11] chchia opened #127 "current ratio not working"
i am too having current ratio not working problem.

i checked the db, the scout_history tables is having 1million ++ of record but all value is completely empty.

can someone guide me how to resolve?

https://github.com/lorcalhost/BTB-manager-telegram/issues/37

[2021-07-21 14:29] #114 closed

[2021-08-01 06:34] eudora-fabia opened #129 "Wrong 7 days value change USD"
Hi, I received this message

[code]

Currently using commit c0f71c5

[2021-08-04 13:31] shhhmel opened #130 "Invalid % of "1 day value change USD""
![photo_2021-08-04 16 28 13](https://user-images.githubusercontent.com/17930913/128189673-6a36bf9f-6080-47d7-857c-c77fd55d9f0a.jpeg)

[2021-08-04 13:37] shhhmel opened #131 "Change in "Current coin amount progress" always None"
<img width="312" alt="Screenshot 2021-08-04 at 16 35 12" src="https://user-images.githubusercontent.com/17930913/128190579-d501c7ab-bd5e-43b1-b896-8a98fd215444.png">

[2021-08-04 13:39] shhhmel commented on #129
Similar to this one: https://github.com/lorcalhost/BTB-manager-telegram/issues/130

[2021-08-04 13:39] shhhmel commented on #130
Similar to this one: https://github.com/lorcalhost/BTB-manager-telegram/issues/129

[2021-08-05 10:49] jaddel opened #132 "[Request] Deploy to DockerHub?"
Thanks for the great work!

Could you consider deploying it to docker hub?

[2021-09-06 20:07] ulorentz opened #137 ""Binance Trade Bot is not running" even if it is"
The trade bot manager perfectly works apart from the fact it is not able to detect that the bot is running, not able to stop it or to start it.

[2021-09-07 13:35] sokffa opened #138 "Bot doesn't respond to commands after starting the trading bot using the telegram command"
Im having trouble with the bot.
after clicking "Start trade bot" the bot displays the crypto_trading_logger but then stops responding to my commands
I click "Back" but nothing happens.
The only thing that worked for me is starting the trading bot and the telegram bot separately. But then when I try to restart it using the commands I fall into the same problem.

[2021-09-09 17:43] shhhmel opened #139 "Incompatible packages error on install"
Python 3.8.10
pip 20.0.2

`python3 -m pip install -r requirements.txt`

`ERROR: unicorn-binance-websocket-api 1.30.0 has requirement websockets==8.1, but you'll have websockets 10.0 which is incompatible.`

[2021-09-09 19:36] shhhmel opened #140 "WARNING:apprise:Failed to send Telegram notification"
`WARNING:apprise:Failed to send Telegram notification to <CHAT_ID>: Bad Request: can't parse entities: Unsupported start tag "sol" at byte offset 17, error=400.`

`WARNING:apprise:Failed to send Telegram notification to <CHAT_ID>: Bad Request: can't parse entities: Unsupported start tag "algo" at byte offset 18, error=400.`

[2021-10-11 07:49] titulebolide commented on #138
Any update on this?

[2021-10-22 04:26] DmytroLitvinov opened #142 "telegram.error.NetworkError: Bad Gateway"
Here is a traceback of error:
[code]

[2021-11-08 06:45] DmytroLitvinov commented on #142
Hi @titulebolide ,
Unfortunately, I can't.
Right now seems there is no issue.

[2021-11-12 14:27] #142 closed

[2021-11-13 18:24] schrottgerardo opened #147 "user.cfg backup file is created with different permissions than the original file"
I found that after use the **Edit user.cfg** button, a backup file is created, but the new file has not the sames file permissions:

That's no fun, any other user could know the _api_token_ and _api_secret_token_ by reading the backup file.

I think it can be easily fixed, using `shutil.copymode()` after the `shutil.copyfile()` method, inside the edit_user_config handler.

[2021-11-17 10:40] titulebolide commented on #23
Hey @lorcalhost
Regarding the updating of the sqlalchemy db, I'm not sure you have any way of retrieving the data, because the idea behind the update at the end of the session is to avoid repetitive writes to the disk. The data is only cached on a local session probably proper to the socket. If you open a new socket to the db you probably won't be ble to see the pending changes?

[2021-11-17 10:41] #140 closed

[2021-11-19 12:38] #139 closed

[2021-11-19 12:45] titulebolide commented on #130
Probably fixed by this one : #143

[2021-11-19 12:46] titulebolide commented on #129
Might be fixed by #143

[2021-11-19 12:48] titulebolide commented on #32
I'll try to see if I can make https://github.com/titulebolide/binance-report-bot modulable and pluggable to this bot

[2021-11-19 13:43] #20 closed

[2021-11-19 13:44] titulebolide commented on #118
Any news on this?

[2021-11-19 13:56] titulebolide opened #151 "Russian translation don't work with yaml package"
[code]

[2021-11-19 14:07] #151 closed

[2021-11-19 14:07] titulebolide opened #152 "i18n translation other than en break bot commands"
[code]

[2021-11-19 14:08] titulebolide commented on #152
Invoking  @Lisiadito on this one :)

[2021-11-19 14:18] Lisiadito commented on #152
What was the command you used to run the bot? And right now only english translations are present.

[2021-11-19 14:20] titulebolide commented on #152
Actually #133 added russian translation
I ran `python -m btb_manager_telegram -l ru`

[2021-11-19 14:41] Lisiadito commented on #152
Ah I remember. Someone wrote me who wanted to implement a Vietnamese translation and as far as I remember it was a problem with unicode characters in the translation file. I see if I can reach out to that person and find out how they fixed it.

[2021-11-19 14:43] titulebolide commented on #152
But russian characters are unicode? (btw we are already using emojis so i'm not sure that it is the problem...)

[2021-11-19 14:47] Lisiadito commented on #152
Maybe I'm wrong thats just what I remember. The person wrote me a few weeks ago on discord. I wrote that person to find out what was the problem.
But actually on the main branch I get another error even when I let it run with the default language.

[code]

Thats super strange because I was using my branch for weeeks without problems. So I guess it's maybe a combination of changes on main and the r

[2021-11-19 14:48] titulebolide commented on #152
The flood control error is when you spammed too much tg with the bot apparently

[2021-11-19 14:50] Lisiadito commented on #152
so you dont get this error when you start it in english mode?

[2021-11-19 14:50] titulebolide commented on #152
which one, yours or mine? yours, even in english mode. mine, only with russian

[2021-11-19 14:53] Lisiadito commented on #152
I was asking for the flood controll error. Yeah I get that in english mode. Thats due to the bug I reported #118
And yeah your error I only get with the russian language selection. I would recommend to rollback the merge of the russian translation until we find the reason or?

[2021-11-19 14:54] titulebolide commented on #152
i am working on it, I'm thinking about leaving the russian translation here as we can default to en translation

[2021-11-19 14:57] titulebolide commented on #152
This is not good : https://github.com/python-telegram-bot/python-telegram-bot/blob/2f6c4075c866e4e03dccb2b1f41c1fa550e00d93/telegram/ext/commandhandler.py#L162

[2021-11-19 15:05] Lisiadito commented on #152
true we're defaulting to english anyway so it's ok.

And about the regex. What is exactly the problem?

[2021-11-19 15:07] titulebolide commented on #152
It only accepts commands with characters between a and z of less than 32 characters.
Actually it set up two things : commands and messages, and messages is what it used with emojis and stuff, which accepts all unicode, but command (for basic cancel and start) have to be lowercase and between a and z

[2021-11-19 15:11] titulebolide commented on #152
![Screenshot_20211119_161031_org.telegram.messenger.jpg](https://user-images.githubusercontent.com/44905741/142645396-1bb253ae-7f7b-4a74-8b5c-540081cfaf93.jpg)
Did the trick

[2021-11-19 15:12] titulebolide commented on #152
Merged :) thanks for the help

[2021-11-19 15:12] #152 closed

[2021-11-19 18:45] titulebolide opened #153 "Redundancy in translation"
no_db and database_not found
script_not_found and script_not_found_in_file_error

[2021-11-19 20:09] #153 closed

[2021-11-20 08:49] titulebolide opened #155 "Better error handling"
Catch error and forward them to telegram
(e.g. flood control excess or any other things)

[2021-11-20 08:50] titulebolide opened #156 "Add start flag that starts the bot as well"
So that the launching of the manager starts automatically the bot

[2021-11-20 08:52] titulebolide opened #157 "Send a first message with instructions when first launched"
A message that invites to input `/start` to makes it easier to begin with

[2021-11-20 08:56] titulebolide commented on #147
Hi, thanks for reporting this.
I'll give it a look

[2021-11-20 09:09] titulebolide commented on #147
Done in the latest commit.

[2021-11-20 09:09] #147 closed

[2021-11-20 09:09] titulebolide commented on #138
Closing for now.

[2021-11-20 09:09] #138 closed

[2021-11-20 09:10] titulebolide commented on #137
@ulorentz  ?

[2021-11-22 16:27] titulebolide commented on #157
done :)

[2021-11-22 16:27] #157 closed

[2021-11-22 18:17] titulebolide commented on #156
done :)

[2021-11-22 18:17] #156 closed

[2021-11-22 18:28] titulebolide opened #159 "reorganizing translation file"
the translation file are almosrt with everything at the same level. What is grouped should be grouped

[2021-11-23 13:54] titulebolide commented on #66
It did not fixed it, however I pushed something on fix/flood-control that might do the trick

[2021-11-23 14:19] #51 closed

[2021-11-23 14:20] titulebolide commented on #104
Don't you have a possibility of making PM2 restart the bot only on failure as it can be with systemd?

[2021-11-24 11:43] Lisiadito commented on #104
Thats is something I could check. But to be honest I don't use pm2 anymore because it doesn't work good with the update process either.

[2021-11-25 13:37] #159 closed

[2021-11-26 12:36] titulebolide commented on #104
Then i close it. I find that using a process manager can mess also with update with ghost processes that prevent the bot from starting. I guess it should be made clear that this bot has to be launched outside from a process handler or without restart handling.

[2021-11-26 12:41] titulebolide opened #171 "Investigate the use of process manager"
It seems the use of PM2 or systemd can interact badly with the update process.
We should investigate the extent of it, either assert it or specify the bot must not be ran with a process manager, and should better be placed in rc.local or cron-ed.

This is a follow up of #104

[2021-11-26 12:43] titulebolide commented on #127
Any follow up on that?
The bot dev had stopped for a while, but i'm willing to take over.

[2021-11-26 12:44] #137 closed

[2021-11-26 12:45] #104 closed

[2021-11-27 09:37] hieu0nguyen opened #174 "BTB not work when delete messages in telegram"
Hi there,

When I delete a message in Telegram, the commands don't show anymore. I must restart the python script to use these commands of bot again.

[2021-12-01 18:11] titulebolide commented on #174
Thanks for reporting ! I'll take a look into that

[2021-12-04 14:24] titulebolide opened #187 "Trigger update notification only when a new tag is issued"

[2021-12-04 14:25] #118 closed

[2021-12-04 14:27] titulebolide commented on #94
I close this in favor of #187 , where we can provide the changelog in the tag

[2021-12-04 14:27] #94 closed

[2021-12-04 14:28] titulebolide commented on #32
This is now rolling in main, closing this.

[2021-12-04 14:28] #32 closed

[2021-12-04 14:29] titulebolide commented on #129
Closing this in favor of #130

[2021-12-04 14:29] #129 closed

[2021-12-07 09:49] MingtChoco opened #193 "APIError(code=-2015): Invalid API-key, IP, or permissions for action."
![image](https://user-images.githubusercontent.com/89763802/145005897-016ab076-966e-4cda-971b-30524e8556f7.png)

I got this error msg, however i already set not API permission but IP.
And i tried to get new api several times...

sorry my english is bad. I hope you that understand my problem..ㅠㅠ

[2021-12-07 13:41] #193 closed

[2021-12-07 16:25] macbookator opened #194 "Docker Pip Error"
I tried to build Docker image from Dockerfile from the latest commit and release of `BTB-manager-telegram`, but I received an error while installing `binance-trade-bot`'s requirements. I don't think this issue about `binance-trade-bot`, because I can successfully build `binance-trade-bot`'s Dockerfile and older version of `BTB-manager-telegram`'s with the latest `binance-trade-bot`.

[code]

[2021-12-07 19:48] macbookator commented on #194
I found a temporary solution, but it must be fixed on newer versions.
When building image, pip can't download pathlib and it gives this error. I fixed it by editing Dockerfile:
[code]

[2021-12-09 14:21] titulebolide commented on #194
Which command did you ran to build the docker image?
Did you used run_docker.py?

[2021-12-09 14:23] titulebolide commented on #187
#188

[2021-12-14 17:52] macbookator commented on #194
I didn't use run_docker.py. I builded only Dockerfile. I used this command on directory:
`docker build -t binance .`

When I changed Dockerfile with the above, it worked. This issue caused because pip can't install pathlib named dependency. I installed it manually inside Dockerfile.

[2021-12-14 18:14] macbookator commented on #194
I tried it again, and it worked now.

`requirements.txt` of `binance-trade-bot` tried to download `unicorn-binance-websocket-api`, and `unicorn-binance-websocket-api` requires `pathlib` named dependency. Script tried to download `pathlib`, but it can't found given version. But version exist. I downloaded `pathlib` manually before script run, and it worked normally.

So, this issue may be fixed on

[2021-12-14 18:14] #194 closed

[2021-12-15 16:25] #187 closed

[2021-12-17 09:46] titulebolide commented on #60
This issue can be close as it has been decided not to bring this functionnality to the bot

[2021-12-17 09:46] #60 closed

[2021-12-17 09:47] #127 closed

[2021-12-17 09:48] titulebolide commented on #119
Is this still the case? We had some improvement for the ratio calculation, can you confirm?

[2021-12-18 11:01] titulebolide commented on #174
Fixed in the very last commit. Thanks for reporting!

[2021-12-18 11:01] #174 closed

[2021-12-21 09:35] Jaszczur11 opened #205 "Problem with starting the bot"
Has a problem with starting the bot. I get this message:

E:\btbm>python3 -m btb_manager_telegram
C:\Users\Jaszczur\AppData\Local\Programs\Python\Python39\python3.exe: No module named btb_manager_telegram

[2021-12-21 09:38] titulebolide commented on #205
it says what it says :)
you are highly likely not in the good folder.
if you ran the `git clone` command in th folder `E:\btbm`, then you have to run `dir BTB-manager-telegram` because the module `btb_manager_telegram` is located in this new folder.

[2021-12-21 10:15] Jaszczur11 commented on #205
Now I have :

E:\btbm\BTB-manager-telegram>python3 -m btb_manager_telegram
Traceback (most recent call last):
  File "C:\Users\Jaszczur\AppData\Local\Programs\Python\Python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\Jaszczur\AppData\Local\Programs\Python\Python39\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)

[2021-12-21 10:16] titulebolide commented on #205
Please read carefully the readme you are missing steps

[2021-12-21 19:24] Jaszczur11 commented on #205
I do not know. I still have the same.

[2021-12-21 19:26] titulebolide commented on #205
Try to do the following :
[code]
Sometimes the install of i18n messes up for no apparent reason

[2021-12-21 20:02] Jaszczur11 commented on #205
No change.

E:\btbm\BTB-manager-telegram>pip3 uninstall i18n
WARNING: Skipping i18n as it is not installed.

E:\btbm\BTB-manager-telegram>pip install i18n
Collecting i18n
  Downloading i18n-0.2.tar.gz (6.5 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py in c:\users\jaszczur\appdata\local\programs\python\python39\lib\site-packages (from i18n) (1.10.0)
Requirement alre

[2021-12-21 20:07] titulebolide commented on #205
My apologies. I did a mistake.
Please run
[code]

[2021-12-21 20:57] Jaszczur11 commented on #205
Now I have other bugs. I uninstalled BTB-manager-telegram and reinstalled. Unfortunately, no changes.

E:\btbm\BTB-manager-telegram>python3 -m btb_manager_telegram
2021-12-21 21:55:34,650 - btb_manager_telegram_logger - INFO - Retreiving binance tokens
Traceback (most recent call last):
  File "C:\Users\Jaszczur\AppData\Local\Programs\Python\Python39\lib\runpy.py", line 197, in _run_module_as_main

[2021-12-21 20:59] titulebolide commented on #205
It seems the user.cfg file from the binance_trade_bot is missing its very first line : `[binance_user_config]`

[2021-12-21 21:09] Jaszczur11 commented on #205
This line is in the file.

[binance_user_config]
# All config params are explained in depth in the repo.

# API key and Secret key created on Binance
api_key=XXXXX
api_secret_key=XXXX

# Starting coin, leave empty when it's the bridge.
# It has to be in the supported_coin_list
current_coin=

#Bridge coin of your choice
bridge=BUSD

#com or us, depending on region
tld=com

#Defines how long the sco

[2021-12-22 09:38] Jaszczur11 commented on #205
Hello.
And no ideas what can be done?

[2021-12-22 15:59] MasaiasuOse commented on #205
Do you have it like that:
[code]

[2021-12-22 18:44] Jaszczur11 commented on #205
![image](https://user-images.githubusercontent.com/50039853/147140359-fafd0f46-601a-46de-89f9-c0a4b2ac01fd.png)

[2021-12-22 18:45] titulebolide commented on #205
It should be binance-trade-bot not binance_trade_bot

[2021-12-22 18:47] titulebolide commented on #205
Update: the telegram bot is currently **in** the folder of the trading bot.
But the telegram bot and the trading bot must be in the same folder.

[2021-12-22 20:42] Jaszczur11 commented on #205
Super!!! It works. :)

[2021-12-22 22:37] titulebolide commented on #205
Glad to see that! Closing this.

[2021-12-22 22:37] #205 closed

[2021-12-26 22:45] nath67 opened #206 "Save database"
Hello,

How to save the database when running it in a container?
I'm losing it when I restart the container.

A new database is made on reboot and get this error :
APIError(code=-1013): Invalid quantity.

[2022-01-03 14:48] titulebolide opened #209 "Easy kill if using nohup."
The btb should write in a file (e.g. `process.pid` or `btb.pid`) its pid to easilly kill it.

[2022-01-03 16:48] titulebolide commented on #209
done in the latest commit

[2022-01-03 16:48] #209 closed

[2022-01-11 16:12] HaidarWahid commented on #138
Hi,
Is this solve ?

[2022-01-11 16:59] ToTheMoon365 opened #226 "Bot doesn't respond to commands after starting the trading bot using the telegram command"
Hi,
I'm having trouble with the bot when starting the bot with nohup:   python3 -m btb_manager_telegram
after clicking "Start trade bot" the bot displays the crypto_trading_logger but then stops responding to my commands
I click "Back" but nothing happens. I lose all control unless i kill it terminal and restart again and hit the stop bot  then i get successfully close the bot , using tag [v1.1.1]

[2022-01-11 17:01] HaidarWahid commented on #138
Reopen this issue [#226](https://github.com/lorcalhost/BTB-manager-telegram/issues/226)

[2022-01-11 17:01] MasaiasuOse commented on #226
Can you share the log?

[2022-01-11 17:10] HaidarWahid commented on #226
This is the first time when i start and run the bot , and try to close , not getting logs when hitting the close bot
![starting ](https://user-images.githubusercontent.com/75916143/148988994-83d60bfb-5f05-4cc9-ab4a-fa7563a78062.png)

after restarting ...
![restart](https://user-images.githubusercontent.com/75916143/148989145-257733c5-4fa4-4063-9c04-a2d79dfb8cad.png)

[2022-01-11 17:12] MasaiasuOse commented on #226
What about of the log in terminal? `tail -f nohup.out`
Can I ask which fork of the binance-trade-bot do you use? :D

[2022-01-11 17:25] ToTheMoon365 commented on #226
Im using this [fork ](https://github.com/edeng23/binance-trade-bot)

[2022-01-11 18:24] sokffa commented on #138
The problem was in fact related an OOM killing the subprocess of the trading bot launched by the Telegram bot process

[2022-01-11 18:37] ToTheMoon365 commented on #138
Did You get to work ?

[2022-01-14 07:52] titulebolide commented on #226
@ToTheMoon365 were you able to retreive your logs?

[2022-01-14 13:33] ToTheMoon365 commented on #226
I'm sorry I could not, could you please give me a guide, much appreciated!

[2022-01-14 13:55] MasaiasuOse commented on #226
Go in the terminal in the folder of the btb manager and type this: `tail -f nohup.out`.

[2022-01-14 14:40] ToTheMoon365 commented on #226
![Screenshot 2022-01-14 153830](https://user-images.githubusercontent.com/75916143/149533250-963c3243-8530-46a7-a90c-b9f41c3c3922.png)

Should I run nohup first to generate the nohup.out? any ideas?
Thank you for bearing with me !

[2022-01-14 15:29] ToTheMoon365 commented on #226
once I start the bot , no button regist anymore
![Screenshot 2022-01-14 162753](https://user-images.githubusercontent.com/75916143/149540935-381b1030-0912-4bd9-a857-830fd19be093.png)

[2022-01-14 16:44] MasaiasuOse commented on #226
I suggest to use a VPS with a Linux distro. The bot can have permission issues with other OS. Especially when stopping/starting the bot

[2022-01-14 17:17] ToTheMoon365 commented on #226
Im using windows 11

[2022-01-15 11:17] MasaiasuOse commented on #226
As I said use a VPS with Linux. As far as I know the trading bot stops the telegram bot on Windows when you start it with the telegram bot.
Oracle Cloud offers multiple free instances for example

[2022-01-15 12:06] ToTheMoon365 commented on #226
Is there any documentation on how to set it up with vps, because I have no knowledge about the concept

[2022-01-15 12:14] MasaiasuOse commented on #226
You can use [this](https://docs.google.com/document/d/1oPz4lvjsIxjAggByRwu3SiEx_aakIfgcScn8SUA0avk/edit) guide.

[2022-01-15 12:57] ToTheMoon365 commented on #226
Thank you very much

[2022-01-15 15:15] MasaiasuOse commented on #226
You are welcome. If you have any further questions, we will be happy to answer them.
Please let us know if it works so we can close this issue.

[2022-01-15 22:32] ToTheMoon365 commented on #226
@MasaiasuOse  everything works now, Thanks for all the support !

[2022-01-16 19:03] #226 closed

[2022-01-16 19:40] tony77682 opened #234 "script bot stats"
display the date of the last trade

[2022-01-17 08:26] titulebolide commented on #234
thanks for having opened this issue

[2022-01-17 08:29] titulebolide opened #235 "Having a dash in the version name cause the BTBMT to mess up with updates"
e.g. if local version is `1.2.0-rc1-0a7e5bef`and he distant version is `1.2.0-0a7e5bef` they will be interpreted as equal versions because of
https://github.com/lorcalhost/BTB-manager-telegram/blob/abd8488f26b46f0227d6dbe5cbd248f4a434d4d2/btb_manager_telegram/utils.py#L209

[2022-01-19 10:15] #235 closed

[2022-01-22 11:39] titulebolide commented on #155
Done

[2022-01-22 11:39] #155 closed

[2022-01-24 09:59] titulebolide commented on #130
It's supposed to be fixed now with the addition of reports.

[2022-01-24 09:59] #130 closed

[2022-01-24 10:00] #119 closed

[2022-01-28 09:07] titulebolide opened #241 "Evolve reports and auto detection of deposit and withdrawal"
Todo:

- [ ] Change report to use : /sapi/v1/accountSnapshot
- [ ] total_usdt should be calculated either: based on the account snapshot + current coin + its value in usdt or based on usd_values from coin_value
- [ ] Migrate to a sqlite db
- [ ] Everytime a snapshot is made, we check for eventual deposits and withdrawal and save them in another db

[2022-01-28 20:04] techn0tr0ll opened #243 "main py file is missing + Maintenance is gone ?"
Hey there

i dont assume that it is a wanted "feature" that the main python file "BTBManagerTelegram.py" file is gone from official repo and also from the newest release ...

Also the Button "Maintenance" in the Bot is gone and its not possible anymore to update the bots through the telegram bot ...

is this really intended ?

[2022-01-28 20:08] titulebolide commented on #243
The deletion of the py file is intentional, it was a relic from the earliest stages of the btb.if it broke your install, have a look to the installation manual how to start the bot

For the maintenance button, it is still there! Maybe you're on computer and you need to scroll on the buttons to see the hidden ones?

[2022-01-28 20:11] techn0tr0ll commented on #243
py file was intentional ?
according to the readme this file is used to start the bot ... ?!

Nope, the button is not there - not on the mobile nor on the desktop

[2022-01-28 20:14] titulebolide commented on #243
The file is not used. The start command :
[code]

[2022-01-28 20:14] titulebolide commented on #243
Are you on the latest version of the bot? Are you using a translation?

[2022-01-28 20:25] techn0tr0ll commented on #243
okay that was weird ...
i just pulled the repo again and started the bot with  'python3 -m btb_manager_telegram' - didn't notice this way of starting the bot

now it's up and running and the maintenance option is back again ... 😕

thx for your quick response @titulebolide  and sorry for opening the issue 🤦

[2022-01-28 20:34] titulebolide commented on #243
No worries I thought it would bother nobody the removal of this file. Glad to know it's working :)

[2022-01-28 20:34] #243 closed

[2022-02-16 15:44] markkastoun opened #248 "Next_Coin tabularize size adjustment - Cosmetic"
In the Next Coin output, the % column is 1 width narrow, making anything after 100.XX appear as 100.**..**
┌−−−−−−┬−−−−−−−┬−−−−−−−−┬−−−−−−−−┐
│ Coin │ %     │Current │Target  │
│      │       │price   │price   │
├−−−−−−┼−−−−−−−┼−−−−−−−−┼−−−−−−−−┤
│ BTT  │ 100.… │0.002777│0.002782│

By modifying buttons.py Line 287 and adding 1 more width, we will get the whole number displayed.
Before            [

[2022-02-16 15:45] titulebolide commented on #248
Why not, the thing is 100% is not supposed to be showing up! But yeah why not

[2022-02-18 11:55] #248 closed

[2022-03-01 03:12] lyk199343 opened #253 "The Biance_trade_bot is not working properly with VPN, and the connection always times out"
Hello! I don't have direct access to Binance, but I can browse and trade on Biannce via VPN. However, it seems that Biance_trade_bot is not working properly with VPN, and the connection always times out. Is there a good solution for this problem?

[code]

[2022-03-02 14:22] titulebolide commented on #253
We won't support windows whatsoever.
On your answer to @MasaiasuOse, you told him " I have tried VPS located in Japan,Hongkong, US and German, without changing the system agent and using the global mode."
I think you are mixing VPS and VPN. VPN (or proxies) is not supposed to be supported. We are talking about deploying the binance trade bot on a VPS, a Virtual Private Server, which is a linux ser

[2022-06-09 10:30] jbrepogmailcom opened #258 "CRITICAL - Binance Trade Bot config file cannot be found at `../binance-trade-bot/user.cfg`"
I have cloned BTB... to folder home/user/binance-trade-bot and starting "python3 -m btb_manager_telegram" in that BTB... folder. The user.cfg is everywhere. Where should it be exactly?

[2022-06-09 10:41] titulebolide commented on #258
I think it cannot find the whole binance-trade-bot folder.
by default, your file structure should look like:
[code]
If I understand correctly, the BTB-manager-telegram is currently located **in** hte binance-trade-bot folder, which is wrong.

[2022-06-09 10:44] jbrepogmailcom commented on #258
OK I had to install BTB in parallel to treding_bot, not inside

[2022-06-09 10:44] #258 closed

[2022-06-17 10:34] jbrepogmailcom opened #260 "BTB bot crashes the trading bot if internet outage"
Hello. If I run btb trading bot without BTB and there is internet outage, the binance trading bot resumes after the outage and continues working. If the trading bot is launched from BTB and there is internet outage, the BTB crashes and subsequently it also crashes the trading bot. When internet becomes available again, the BTB and trading bot do not resume and stay crashed. Or at least the trading

[2022-06-20 06:48] titulebolide commented on #260
Hello,

Thanks for this insight, I've already noticed that the bot could randomly stop but never investigated why. I'll be looking into that, thanks for reporting.

[2022-06-20 06:49] #253 closed

[2022-06-20 06:52] #106 closed

[2022-06-20 07:01] titulebolide opened #264 "Display BTC change since the beggining"

[2022-06-24 15:24] jbrepogmailcom opened #265 "Question: Is fork correctly recognized when updating binance trade bot?"
Hello. When BTB detects update and updates binance trade bot to new version, does it correctly recognize which fork is updated? There are at least 3 different forks that have different flavours of config file. If one fork is overwritten by other fork during update, config file may cause it will not work correctly or will not work at all.

[2022-07-07 13:22] jbrepogmailcom opened #268 "BTB still shows that update is available, even after update"
Hello. I get telegram message that binance trade bot update is available and when I check in Maintenance, it says so as well. So I click on update, get message that I should wait a few seconds. After that, if I click on Update, I still get message that update is available.

It seems that updating does not work. Can the telegram bot show message that update was successful? What are prerequisites fo

[2022-07-13 09:20] 556isback commented on #35
Any updates or future plan on this PR?

[2022-07-25 20:22] titulebolide commented on #268
The update should work fine with masa's fork.
So when you update, you don't see the bot restarting after a while? You should be seeing the welcome message like `Hi username! Welcome to Binance Trade Bot Manager Telegram`.
If not it means the update has actually failed. The update is a quite sensitive part of the program, and is known to fail easily, even if I try to harden it with revisions.
Do yo

[2022-07-25 20:23] titulebolide commented on #265
Short answer : yes
Long answer : the update is no more complicated than a git pull, so it's fork agnostic

[2022-07-25 20:23] #265 closed

[2022-07-25 20:27] titulebolide commented on #260
So
In this winter batch of updates, i've added a system to forward error logs to telegram,and help the manager handle gracefully its error instead of crashing. The thing is even we try to handle gracefully an error (such as internet outage), the error forwarding (included in the handling) might crash as well which finally crashes the bot. I've put up a commit tonight in an attempt to fix this.
I c

[2022-07-25 20:27] #260 closed

[2022-07-25 20:30] titulebolide commented on #206
Hi, sorry for the late reply, i was a total noob w/ docker at the time.
Docker is mainly stateless, but the docker custom script try to mitigate this. Are you using the docker script or doing this by hand?
Please note that the docker method is currently unmaintained as i am still near a noob and I don't see any real advantage of using docker over virtualenv

[2022-07-25 20:57] jbrepogmailcom commented on #268
It worked now

[2022-07-25 20:57] #268 closed